<h2 (click)="handleOpenSection(1)" class="section-header"><span [innerHTML]="iconForSection(1)"></span> Информация за мен</h2>
<p *ngIf="isSectionOpen(1)">Името ми се Калоян Георгиев, на 20 години съм и уча в ПУ.</p>
<h2 (click)="handleOpenSection(2)" class="section-header"><span [innerHTML]="iconForSection(2)"></span> Хобита и интереси</h2>
<p *ngIf="isSectionOpen(2)">Хобитата ми са: прекарване на време с приятели, програмиране, както и компютърни игри.</p>
<h2 (click)="handleOpenSection(3)" class="section-header"><span [innerHTML]="iconForSection(3)"></span> Link към канала на любим контент криейтър</h2>
<p *ngIf="isSectionOpen(3)">Любимият ми контент криейтър е: <a href="https://www.youtube.com/@TheBleChannel">Tsvetoslav Tsonev</a></p>
<h2 (click)="handleOpenSection(4)" class="section-header"><span [innerHTML]="iconForSection(4)"></span> Информация за моят канал</h2>
<p *ngIf="isSectionOpen(4)">Аз нямам канал, но нека си представим, че тук има някаква информация.</p>
<h2 (click)="handleOpenSection(5)" class="section-header"><span [innerHTML]="iconForSection(5)"></span> Примерно остойностяване</h2>
<p *ngIf="isSectionOpen(5)">Не знам какво значи тази дума, ако четете това, значи така и не съм научил.</p>